<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>RoomWeather-PM page</title>
    <link rel="stylesheet" href="static/css/pm_reset.css" charset="utf-8">
    <link rel="stylesheet" href="static/css/pm_index.css" charset="utf-8">
    <link rel="stylesheet" href="static/css/pm_chanle.css" charset="utf-8">
    <script src="static/js/echarts.js"></script>
    <style type="text/css">
        em{}
    </style>
</head>

<body style="background: rgb(214, 174, 43);"><!--最下面的颜色-->
<div class="head_box" style="background-color:slategray;"><!--最上面的颜色-->
    <div class="head clearfix">
        <a class="logo" href="/">
            <img src="static/res/RoomWeather.png" alt="RoomWeather" height="31">
        </a>
    </div>
</div>
<div id="aqi" class="clearfix" style="background: whitesmoke;"><!--中间的颜色-->
    <div id="info_box">
        <div id="search">
        </div>
    </div>
    <div class="wrap clearfix">
        <div id="aqi_info">
            <div class="aqi_info_detail">
                <em id="aqi_value" style="color: black">{{aqi}}</em>
                <span id="aqi_desc" style="background-color:slategray;">{{aqiText}}</span><!--中间字体的颜色-->
            </div>
            <div class="aqi_info_item">
                <ul class="clearfix">
                    <li>
                        <em style="color: black">PM2.5</em>
                        <span style="color: black">{{pm25}}</span>
                    </li>
                    <li>
                        <em style="color: black">PM10</em>
                        <span style="color: black">{{pm10}}</span>
                    </li>
                </ul>
            </div>
            <div class="aqi_info_time">
                <h1 style="color: black">Current AQI</h1>
                <b style="color: black">发布日期：{{time}}</b>
            </div>
            <dl class="aqi_info_tips">
                <dt style="color: black">温馨提醒 :</dt>
                <dd id="aqi-tips" style="color: black">请关注睡眠环境的空气质量</dd>
            </dl>
        </div>
    </div>
    <div class="wrap clearfix">
        <div class="left">
            <div id="pm7h" style="width: 1000px;height:400px;margin: 0 auto;">
            </div>
            <p></p>
            <div id="pm7d" style="width: 1000px;height:400px;margin: 0 auto;">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var ChartPM7h = echarts.init(document.getElementById('pm7h'));
    var ChartPM7d=echarts.init(document.getElementById('pm7d'));
    var ChartPM7hOption = {
        title: {
            text: '7小时内PM变化',
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['最高PM', '最低PM']
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: {{hours|tojson}}
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} mg/m3'
                }
            }
        ],
        series: [
            {
                smooth: true,  //true 为平滑曲线，false为直线
                name: 'PM2.5',
                type: 'line',
                data: {{last7hPm25}},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                smooth: true,  //true 为平滑曲线，false为直线
                name: 'PM10',
                type: 'line',
                data: {{last7hPm10}},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            }
        ]
    };
    var ChartPM7dOption = {
        title: {
            text: '7天内PM变化',
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['最高PM', '最低PM']
        },
        toolbox: {
            show: true,
            feature: {
                mark: {show: true},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        calculable: true,
        xAxis: [
            {
                type: 'category',
                boundaryGap: false,
                data: {{days|tojson}}
            }
        ],
        yAxis: [
            {
                type: 'value',
                axisLabel: {
                    formatter: '{value} mg/m3'
                }
            }
        ],
        series: [
            {
                smooth: true,  //true 为平滑曲线，false为直线
                name: 'PM2.5',
                type: 'line',
                data: {{last7dPm25}},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            },
            {
                smooth: true,  //true 为平滑曲线，false为直线
                name: 'PM10',
                type: 'line',
                data: {{last7dPm10}},
                markPoint: {
                    data: [
                        {type: 'max', name: '最大值'},
                        {type: 'min', name: '最小值'}
                    ]
                },
                markLine: {
                    data: [
                        {type: 'average', name: '平均值'}
                    ]
                }
            }
        ]
    };
    ChartPM7h.setOption(ChartPM7hOption);
    ChartPM7d.setOption(ChartPM7dOption);
</script>


</body>

</html>